# data は中身をすべて無視、ただし .gitkeep は許可
data/**
!data/.gitkeep
!data/**/.gitkeep

# outputs も同様
outputs/**
!outputs/.gitkeep
!outputs/**/.gitkeep

# ほかの定番
models/
*.ipynb_checkpoints/
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
