# data と outputs の中身は無視、ただし .gitkeep は許可
data/*
!data/.gitkeep
data/**/
!data/**/.gitkeep

outputs/*
!outputs/.gitkeep
outputs/**/
!outputs/**/.gitkeep

# そのほかの定番
models/
*.ipynb_checkpoints/
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
